.article-list-links a {
  color: var(--dark-color);
  text-decoration: none;
  transition: var(--transition);
}
.article-list-links a:hover {
  color: var(--dark-color);
  text-decoration: none;
}

.article-list-links a h3 {
  color: var(--dark-color);
  text-decoration: none;
  transition: var(--transition);
}

.article-list-links a:hover h3 {
  transform: scale(1.01);
  color: var(--blue);
}

.article-list-item-container {
  margin: 1rem 0;
  border-bottom: 3px solid var(--dark-color);
}

.article-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.article-thumbnail {
  width: 200px;
  height: 150px;
}

.article-list-item {
  margin: 1rem 0;
}

.article-description {
  line-height: 30px;
}

.memo {
  color: #5f5f5f;
  font-size: 0.95rem;
}

.article-description p {
  margin-bottom: 0;
}
