.footer {
  width: 100%;
  /* padding: 10px 0; */
  background-color: var(--white);
}

.button {
  color: var(--white);
  background-color: none;
  text-transform: uppercase;
  transition: var(--transition);
  margin: 0;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 400;
  background-color: var(--light-blue);
}
.button:hover {
  text-decoration: none;
  color: var(--dark-blue);
}

.social-icons a i {
  font-size: 3rem;
}

.footer p {
  margin: 0;
  color: var(--dark-blue);
  font-size: 0.8rem;
}
