.quote-section {
  position: relative;
  z-index: 1;
  background-color: var(--light-blue);
  overflow: hidden;
}

.quote-text {
  z-index: 5;
  color: var(--dark-blue);
}

.bible-img {
  filter: opacity(0.1);
  width: 100%;
}
